{erl_opts, [
  debug_info,
  {parse_transform, lager_transform},
  {i, "./_build/default/plugins/gpb/include"}
]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.2"}
]}.

{deps, [
  {lager, "3.4.2"},
  {ranch, "1.3.2"},
  {recon, "2.3.2"},
  {cowboy, "1.1.2"}
]}.

{relx, [{release, { hello, "0.1.0" },
         [
           hello,
           sasl,
           recon
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
